{% extends "layout.html" %}


{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <div class="ui raised very padded container segment">
        <h2 class="ui header">
            All QBs
        </h2>

        <table class="ui celled table">
            <thead>
            <tr>
                <th>Quarterback</th>
                <th>Team</th>
                <th>Prior Tier</th>
                <th>QBR</th>
                <th>W/L Diff (last 4)</th>
                <th>IPO</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td class="center aligned" colspan="6"><b>First Tier</b></td>
            </tr>

            {% for qb in quarterbacks[1] %}
                {{ render_qb(qb) }}
            {% endfor %}

            <tr>
                <td class="center aligned" colspan="6"><b>Second Tier</b></td>
            </tr>

            {% for qb in quarterbacks[2] %}
                {{ render_qb(qb) }}
            {% endfor %}

            <tr>
                <td class="center aligned" colspan="6"><b>Third Tier</b></td>
            </tr>

            {% for qb in quarterbacks[3] %}
                {{ render_qb(qb) }}
            {% endfor %}

            </tbody>
        </table>
    </div>

    <div class="ui raised very padded container segment">
        <h2 class="ui header">
            My Qbs
        </h2>
    </div>

    <div>
        HELLO WORLD
    </div>
{% endblock %}

{% macro render_qb(qb) %}
    <tr>
        <td>
            {{ qb['name'] }}
        </td>
        <td>
            {{ qb['team'] }}
        </td>
        <td>
            {{ qb['prior_tier'] }}
        </td>
        <td>
            {{ qb['qbr'] }}
        </td>
        <td>
            {{ qb['wl_diff'] }}
        </td>
        <td>
            ${{ qb['ipo'] }}
        </td>
    </tr>
{% endmacro %}
